:root {
   --badges:inline-flex;
  }

@media only screen and (max-device-width: 500px) {
      :root {
        --badges:none;
      } 
}  


div.badges {
    position: absolute;
    display: var(--badges);
    left:10px;
    top:10px;
}

div.badge {
    margin-right: 10px;
    box-sizing: border-box;
    color:blue;
    font-size: 0.6em;
    padding-top:4px;
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 1px 1px 2px black;
}

div.badge.green {
    background-image: linear-gradient(whitesmoke,white 50%,lightgreen 50%,green);
}

div.badge.blue {
    background-image: linear-gradient(whitesmoke,white 50%,lightblue 50%,blue);
}
div.badge.red {
    background-image: linear-gradient(whitesmoke,white 50%,pink 50%,darkred);
}