:root {
    --bakgrunn1: white;
    --bakgrunn2: cornsilk;
    --bakgrunn3: whitesmoke;
    --bakgrunn4: antiquewhite;
    --formBg: rgba(170, 189, 170, 0.24);
  }

#box {
  display:flex;
  flex-wrap: wrap;
}


#main {
    position:relative;
    width: 16em;
    min-height: 20em;
    position: relative;  
    overflow: hidden;
}

#main, #manual {
  background-color: var(--bakgrunn2);
  margin: 0.2em;
  border: solid 1px gray;
  box-shadow: 2px 2px 2px gray;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

div.header {
    height: 2em;
    width: 100%;
    top:0;
    left:0;
    text-align: center;
    font-size:1.5em;
    color:white;
    background-color: #5C92F5;
    padding-top:1em;
  }


#manual {
  width: 30em;
  min-height: 30em;
  justify-content: flex-start;
  align-items: flex-start;
}


#main div {
  text-align: center;
  padding-top:10px;
}

#outer {
    position: relative;
}



#main div.spinner div {
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid gray 5px;
  border-bottom-color: transparent;
  border-right-color: transparent;
  animation: spinner 800ms linear infinite;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% {transform: rotate(360deg); }
}


#main div h4 {
  color:blue;
  font-size: 1.3em;
  text-align: center;
}

div label {
  display:block;
  color:rgb(60, 90, 4);
  font-size: 1.3em;
  position: relative;
}

#main div input {
  text-align:center;
  color:blue;
}


.hidden, #manual.hidden {
  display:none;
}



#main div.studlist ol, li {
  position: relative;
  text-align: left;
  padding: 0;
  margin:0;
}

#expand {
  position: absolute;
  top:1.5em;
  right:0.2em;
  color:green;
  font-size: 2em;
}


#match {
    counter-reset: stud;
    margin-top:2em;
}

#match div {
  width: 25em;
}

#match div:before {
  counter-increment: stud;
  content: counter(stud);
  width:1.5em;
  text-align: right;
  padding-right:6px;
  color:blue;
}

#match div {
    display:flex;
    justify-content: space-between;
}

#match div span:first-child {
    display: inline-block;
    width: 16em;
    text-overflow: ellipsis;
}

#match div span:nth-child(n+2) {
    display: inline-block;
    width: 4em;
    color:blue;
}